
{% for host in hosts %}
172.31.23.178  mbm-mms0.mdbrecruit.net
172.31.27.170  mbm-rs0.mdbrecruit.net
172.31.6.54  mbm-rs1.mdbrecruit.net
172.31.33.20  mbm-rs2.mdbrecruit.net
{% endfor %}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost6 localhost6.localdomain6